:root {
    --colormain: whitesmoke;
    --colorside: black;
    --colorbox: aliceblue;
    --shadow: rgb(238, 76, 76);
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background-color: aliceblue;
}

a {
    color: var(--colorside);
    text-decoration: none;
}

.header {
    flex-wrap: wrap;
    color: grey;
    padding: 10px;
    background-color: lightgray;
    border: 5px var(--colorside);
}

.header h1 {
    font-size: 30px;
    display: inline-block;
    color: black;
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul.liststyle {
    list-style-type: disc;
}


.header nav ul li {
    font-size: 20px;
    color: black;
    display: inline-block;
    margin: 0px 20px;
    
    
}


.article {
    padding: 50px;
    display: flex;
    border: 5px var(--colorside);
}

.intro {
    width: 728px;
    height: 196px;
    text-align: center;
    margin: 120px

}

.mainheader {
    text-align: center;
    font-size: 50px;
    border-bottom: 10px solid coral;
}

.photome {
    display: flex;
    justify-content: end;
    width: 648px;
    height: 638px;
}

.reps {
    background-color: var(--colorbox);
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.cardmain{
    height: 300px;
    width: 1800px;
    align-self: center;
}

.cardmain h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 300px;
    border: 10px solid;
    border-color: brown;
    background-image: url(./screenshot_cheatsheet.png);
}

.card {
    color: blue;
    margin: 20;
    flex-wrap: wrap;
    border: 10px solid;
    border-color: brown;
    width: 300px;
    height: 300px;
    justify-content: center;
    margin: 20px;

}

.worldCup {
    background-image: url(./fifaworldcup.jpg);
    background-size: 300px;
}

.tbd {
    background-image: url(./tbd.jpg);
    background-size: 300px;
}



.footer {
    flex-wrap: wrap;
    color: grey;
    padding: 10px;
    background-color: lightgray;
    border: 5px var(--colorside);
}

.card:hover {
    box-shadow: inset 0px 0px 8px var(--shadow), 0 0 15px var(--shadow);
}

.cardmain:hover {
    box-shadow: inset 0px 0px 8px var(--shadow), 0 0 15px var(--shadow);
}

@media screen and (max-width: 900px) {
    .photome {
      display: none;
    }
  }